@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root {
  --green: #00ff00;
  --black: #000000;
  --gray: #111111;
  --white: #f8f8f2;
  --dark-gray: #333333;
  --button-contrast: #ff00ff;
}

body {
  margin: 0;
  font-family: 'Silkscreen', sans-serif;
  background-color: var(--black);
  color: var(--green);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: 'Silkscreen', sans-serif;
}

.logo-image {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: auto;
}

/* Navbar */
.custom-navbar {
  background-color: var(--black);
  border-top: 1px solid var(--green);
  border-bottom: 1px solid var(--green);
}

.navbar-nav .nav-link {
  color: var(--green);
  border: 1px solid var(--green);
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-link:hover {
  background-color: var(--green);
  color: var(--black);
}

/* Hero Section */
.hero {
  background-color: var(--gray);
  border-bottom: 1px solid var(--green);
}

.hero h2 {
  font-size: 2rem;
}

.hero p {
  font-size: 1rem;
  color: var(--white);
  max-width: 800px;
  margin: 0 auto;
}

/* Project Cards */
.project-card {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--black);
  border: 1px solid var(--green);
  color: var(--green);
  padding: 1rem;
  position: relative;
  transition: transform 0.3s ease, background-color 0.3s ease;
  height: 100%;
}

.project-card:hover {
  background-color: var(--green);
  color: var(--black);
  transform: translateY(-5px);
  cursor: url('images/custom_cursor_portfolio.png') 64 64, auto;
}

.project-thumbnail {
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(--green);
}

/* Details */
.project-details {
  margin-top: 1rem;
  padding-bottom: 3rem;
}

/* Read More Button */
.read-more-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--button-contrast);
  color: var(--black);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.read-more-button:hover {
  background-color: var(--black);
  color: var(--button-contrast);
  border: 1px solid var(--button-contrast);
}

/* Contact Section */
.contact {
  background-color: var(--gray);
  border-top: 1px solid var(--green);
}

.contact a {
  color: var(--green);
  text-decoration: none;
  font-size: 1rem;
}

.contact a:hover {
  background-color: var(--green);
  color: var(--black);
}

.socials a {
  margin: 0.5rem;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--green);
  transition: background-color 0.3s, color 0.3s;
}

.socials a:hover {
  background-color: var(--green);
  color: var(--black);
}
